<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Authors List</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<header th:replace="fragments/header"/>
<div class="container my-2">
    <h1>Authors List</h1>
    <div class="col-2">
        <form action="/authors3books"
              method="get" th:action="@{authors3books}"
              th:object="${authors}" id="3books">
            <button id="btn3Books" type="submit" class="btn btn-info">
               Authors With More Than 3 Books
            </button>
        </form>
    </div>
    <br>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="auth : ${authors}">
            <td th:text="${auth.getFirstName()}"></td>
            <td th:text="${auth.getLastName()}"></td>
            <td th:text="${auth.getYearOfBirth()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>